@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta http-equiv="set-cookie" content="Value=_ga, Site=.grafana.net/; SameSite=false; Secure;" />
    <meta http-equiv="set-cookie" content="Value=_gid, Site=.grafana.net/; SameSite=false; Secure;" />
</head>

<div class="text-center">
    <!--<iframe width="1024" height="728"
        src="https://cugalord.grafana.net/dashboard/snapshot/OzDwIQ9vJIBAmK0BPQPAKdzf84UB8Wau"></iframe>-->
    <iframe
        src="http://164.90.163.179:3000/d-solo/OGaIgGhVk/sfl-is?orgId=1&from=1672928611374&to=1672950211375&panelId=8"
        width="1024" height="728" frameborder="0"></iframe>
    </br>
    <iframe
        src="http://164.90.163.179:3000/d-solo/OGaIgGhVk/sfl-is?orgId=1&from=1672929318935&to=1672950918935&panelId=2"
        width="1024" height="728" frameborder="0"></iframe>
    </br>
    <iframe
        src="http://164.90.163.179:3000/d-solo/OGaIgGhVk/sfl-is?orgId=1&from=1672929337275&to=1672950937275&panelId=6"
        width="1024" height="728" frameborder="0"></iframe>

</div>
