@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the internal SFL dashboard</h1>
    <p>This dashboard is used to manage the internal workings of the company.</p>
</div>
