@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta http-equiv="set-cookie" content="Value=_ga, Site=.grafana.net/; SameSite=None; Secure;" />
    <meta http-equiv="set-cookie" content="Value=_gid, Site=.grafana.net/; SameSite=None; Secure;" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome our employee!</h1>
    <p>We care about our colleagues because we know that we can only be successful if we work as a team, and that mutual
        respect is vital in order for each and every one of us to live up to our full potential.
        <br>
        SFL wishes you a pleasant shift!.
    </p>

</div>
