@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3> Privacy Policy </h3>

<p>Simple Flyway Logistics takes your privacy seriously. To better protect your privacy we provide this privacy policy
    notice explaining the way your personal information is collected and used.</p>

<h3> Collection of Routine Information </h3>

<p>This website track basic information about their useres. This information includes, but is not limited to, IP
    addresses,
    browser details,
    timestamps and referring pages. None of this information can personally identify specific user to this website. The
    information is tracked
    for routine administration and maintenance purposes.</p>

<h3> Cookies </h3>

<p>Where necessary, this website uses cookies to store information about a visitor’s preferences and history in order to
    better serve the user and/or present the user with customized content. </p>


<h3> Security </h3>

<p>The security of your personal information is important to us, but remember that no method of transmission over the
    Internet, or
    method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your
    personal information,
    we cannot guarantee its absolute security.</p>
